@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  .profile_img:hover + .profile_overlay,
  .profile_img:focus + .profile_overlay {
    display: block;
  }

  main {
    font-family: 'Inter', sans-serif;
  }
  .check_shadow {
    box-shadow: 0px 0px 0px 1px #1570ef;
  }
  .show_success {
    display: block;
  }
}
